<div class="row">
	<div class="col-md-offset-1 col-md-4">
        {{#if errorMessage}}
			<div class="alert alert-warning">{{errorMessage}}</div>
        {{/if}}
	</div>
	<div class="col-md-offset-3 col-md-2">
		<button {{action 'save' id}} class="btn btn-sucess"><i class="fa fa-floppy-o"></i></button>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-4">
		<h4>Username:</h4>
		<p>{{input type="text" name="usernameInput" placeholder="username" value=username class="form-control"}}</p>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-4">
		<h4>First name:</h4>
		<p>{{input type="text" name="firstnameInput" placeholder="first name" value=firstname class="form-control"}}</p>
	</div>
	<div class="col-md-offset-1 col-md-4">
		<h4>Last name:</h4>
		<p>{{input type="text" name="lastnameInput" placeholder="last name" value=lastname class="form-control"}}</p>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-4">
		<h4>Email:</h4>
		<p>{{input type="text" name="emailInput" placeholder="email" value=email class="form-control"}}</p>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-4">
		<h4>New Password:</h4>
		<p>{{input type="password" name="passwordInput" placeholder="password" value=password class="form-control"}}</p>
	</div>
	<div class="col-md-offset-1 col-md-4">
		<h4>Confirm Password:</h4>
		<p>{{input type="password" name="confirmInput" placeholder="confirm" value=confirm class="form-control"}}</p>
	</div>
</div>