<div class="row">
	<div class="col-md-offset-1 col-md-9">
		<h4>Username:</h4>
		<p>{{username}}</p>
	</div>
	<div class="col-md-2">
        {{#link-to 'user.edit' id class="btn btn-default btn-lg"}}<i class="fa fa-pencil-square-o"></i>{{/link-to}}
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-4">
		<h4>First name:</h4>
		<p>{{firstname}}</p>
	</div>
    <div class="col-md-offset-1 col-md-4">
		<h4>Last name:</h4>
		<p>{{lastname}}</p>
    </div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<h4>Email:</h4>
		<p>{{email}}</p>
	</div>
</div>