<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' class="navbar-brand"}}IIHR{{/link-to}}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
	            <li>
                    {{#link-to 'home'}}Home{{/link-to}}
	            </li>
	            <li>
                    {{#link-to 'resources'}}Resources{{/link-to}}
	            </li>
	            <li>
                    {{#link-to 'faq'}}FAQ{{/link-to}}
	            </li>
	            <li>
                    {{#link-to 'contact'}}Contact{{/link-to}}
	            </li>
	            <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{#if session.isAuthenticated}}
	                        Signed in as {{session.account.fullname}}
                        {{else}}
	                        Account
                        {{/if}} <i class="fa fa-user"></i>
                    </a>
		            <ul class="dropdown-menu">
                        {{#if session.isAuthenticated}}
	                        <li>
                                {{#link-to 'user' session.account.id}}Profile{{/link-to}}
	                        </li>
                        {{else}}
	                        <li>
                                {{#link-to 'register'}}Register{{/link-to}}
	                        </li>
                        {{/if}}
			            <li class="divider"></li>
                        {{#if session.isAuthenticated}}
	                        <li>
		                        <a {{ action 'invalidateSession' }}>Sign Out</a>
	                        </li>
                        {{else}}
	                        <li>
                                {{#link-to 'login'}}Sign In{{/link-to}}
	                        </li>
                        {{/if}}
		            </ul>
	            </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="section">

	<div class="container">

    {{outlet}}

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

	<hr>

    <footer>
        <div class="row">
            <div class="col-md-12">
                <p>Copyright &copy; Inventory of Industrial Heritage Resources 2014</p>
            </div>
        </div>
    </footer>

</div>


