<div class="row">
    <div class="col-md-12">
        <h1>Error</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        We are very sorry but something has gone horribly wrong
    </div>
</div>