<div class="section">

    <div class="container">

	    <div class="row">
		    <div class="col-md-12">
			    <h1>Inventory of Industrial Heritage Resources</h1>
			    <p>Welcome to the Inventory of Industrial Heritage Resources.</p>
		    </div>
	    </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->