<div class="row">
	<div class="col-md-12">
		<h1>Sign In</h1>
    </div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">

        {{#if errorMessage}}
			<div class="alert alert-warning">{{errorMessage}}</div>
        {{/if}}

		<form {{action 'authenticate' on='submit'}}>

			<div class="form-group">
				<label for="nameInput">Username:</label>
                {{input type="text" name="usernameInput" placeholder="username" class="form-control" value=identification autofocus=true}}
			</div>

			<div class="form-group">
				<label for="nameInput">Password:</label>
                {{input type="password" name="passwordInput" placeholder="password" class="form-control" value=password}}
			</div>

			<div class="controls">
				<button type="submit" class="btn btn-default">Login</button>
			</div>
        </form>

	</div>
</div>