<div class="row">
    <div class="col-md-12">
	    <h4>Create Resource:</h4>
    </div>
</div>

<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<label for="nameInput">Name:</label>
        {{input type="text" name="nameInput" placeholder="name" value=newName class="form-control"}}
	</div>
</div>

<div class="row">
    <br>
    <br>
	<div class="col-md-offset-2 col-md-4">
        <button type="button" class="btn btn-default" {{action 'cancel'}}>Close</button>
    </div>
	<div class="col-md-offset-2 col-md-4">
		<button type="button" class="btn btn-primary" {{action 'add' newName}}>Save changes</button>
	</div>
</div>