<div class="row">
	<div class="col-md-3">
		<h1>Resources</h1>
	</div>

	<div class="col-md-2">
		<a class="btn btn-info" target="_blank" href="/api/v0/export.csv">Export CSV</a>
	</div>

	<div class="col-md-2">
		<a class="btn btn-info" target="_blank" href="/api/v0/export.json">Export JSON</a>
	</div>

	<div class="col-md-3">
		<h2>Total: {{total}}</h2>
	</div>

	<div class="col-md-1 col-md-offset-1">
        {{#if session.isAuthenticated}}
            {{#link-to 'new' class="btn btn-success"}}<i class="fa fa-plus"></i>{{/link-to}}
        {{/if}}
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<div class="form-group">
                {{input type="text" name="searchTermInput" placeholder="search" value=search insert-newline="search" class="form-control"}}
			</div>
			<button {{action 'search'}} class="btn btn-primary btn-large">Search</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<ul class="media-list">
            {{#each}}
				<hr>
				<li class="media">
					<a class="pull-left" href="#">
                        {{#if images }}
                            {{view "first-image" class="media-object" style="max-height: 150px; max-width: 200px;" contentBinding="images" }}
                        {{/if}}
					</a>
					<div class="media-body">
						<h4 class="media-heading">{{ name }}</h4>
                        {{#if description }}
							<div class="row">
								<div class="col-md-8">
									<p>{{preview-string description }}</p>
								</div>
							</div>
                        {{/if}}
						<div class="row">
							<div class="col-md-2 col-md-offset-10">
                                {{#link-to 'resource' id class="btn btn-primary"}}View{{/link-to}}
							</div>
						</div>
					</div>
				</li>
            {{/each}}
		</ul>
		<ul class="pagination">
            {{#if hasPrev}}
				<li>{{#link-to 'resources' (query-params page=prev) class="previous"}}&laquo;{{/link-to}}</li>
            {{else}}
				<li class="disabled"><a>&laquo;</a></li>
            {{/if}}
            {{#each pages}}
                {{#if spacer}}
					<li class="disabled"><a>...</a></li>
                {{else}}
                    {{#if current}}
						<li class="active">{{#link-to 'resources' (query-params page=page)}}{{page}}{{/link-to}}</li>
                    {{else}}
						<li>{{#link-to 'resources' (query-params page=page)}}{{page}}{{/link-to}}</li>
                    {{/if}}
                {{/if}}
            {{/each}}
            {{#if hasNext}}
				<li>{{#link-to 'resources' (query-params page=next) class="next"}}&raquo;{{/link-to}}</li>
            {{else}}
				<li class="disabled"><a>&raquo;</a></li>
            {{/if}}
		</ul>
	</div>
</div>
