<div class="col-md-8">
	<h5>Map:</h5>
	<div style="height: 350px;" id="map"></div>
</div>

<div class="col-md-4">
	<table class="table table-bordered">
		<thead>
            <tr>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
		</thead>
		<tbody>
            {{#each coordinates}}
            <tr>
                <td>{{latitude}}</td>
                <td>{{longitude}}</td>
            </tr>
            {{/each}}
		</tbody>
	</table>
</div>