<div class="row">
    <div class="col-md-4">
	    <h4>Reference ID:</h4>
	    <p>{{ref}}</p>
    </div>
	<div class="col-md-offset-4 col-md-2">
		<button {{action 'remove' id}} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
	</div>
	<div class="col-md-2">
		<button {{action 'save' id}} class="btn btn-sucess"><i class="fa fa-floppy-o"></i></button>
	</div>
</div>

<div class="row">
	<div class="col-md-12">

        <div class="form-group">
            <label for="typeInput">Type:</label>
            {{view "bootstrap-select"
            name="typeInput"
            content=types
            value=type
            class="selectpicker" }}
        </div>

	</div>
</div>

<div class="row">
    <div class="col-md-6">

        <div class="form-group">
            <label for="nameInput">Name:</label>
            {{input type="text" name="nameInput" placeholder="name" value=name class="form-control"}}
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <h4>Other Names:</h4>
        {{#each other_names itemController="name"}}
	        <div class="row">
		    {{#if isEditing}}
	            <div class="col-md-offset-1 col-md-6">
                    {{input type="text" name="nameValueInput" placeholder="name" value=name insert-newline="acceptChanges" class="form-control"}}
                </div>
                <div class="col-md-4">
                    <button {{action 'acceptChanges' }} class="btn btn-primary"><i class="fa fa-floppy-o"></i></button>
	                <button {{action 'removeName' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </div>
            {{else}}
	            <div class="col-md-offset-1 col-md-6">
                    <br>
                    {{name}}
                </div>
                <div class="col-md-4">
                    <button {{action 'editName' }} class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
	                <button {{action 'removeName' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </div>
            {{/if}}
            </div>
	        <br>
        {{/each}}

        <div class="row">
	        <div class="col-md-offset-1 col-md-6">
                {{input type="text" name="nameValueInput" placeholder="name" value=newName insert-newline="createName" class="form-control"}}
	        </div>
	        <div class="col-md-4">
		        <button {{action 'createName' }} class="btn btn-success"><i class="fa fa-plus"></i></button>
	        </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <h4>location:</h4>
        <div class="col-md-offset-1 col-md-11">
	        <div class="row">
		        <label for="locationAddressInput">Address:</label>
                {{textarea name="locationAddressInput"
                placeholder="address"
                value=location.address class="form-control"
                cols="80" rows="6"}}
	        </div>
	        <div class="row">
		        <label for="locationDescriptionInput">Description:</label>
                {{textarea name="locationDescriptionInput"
                placeholder="description"
                value=location.description class="form-control"
                cols="80" rows="6"}}
	        </div>
	        <h5>Coordinates:</h5>
            {{#each features itemController="feature"}}
                {{#if isPoint}}
	                <div class="row">
                        {{#if isEditing}}
			                <div class="col-md-1">
				                <label for="latValueInput">Lat:</label>
			                </div>
			                <div class="col-md-2">
                                {{input type="text" name="latValueInput" placeholder="latitude" value=lat class="form-control"}}
			                </div>
			                <div class="col-md-1">
				                <label for="longValueInput">Long:</label>
			                </div>
			                <div class="col-md-2">
                                {{input type="text" name="longValueInput" placeholder="longitude" value=long class="form-control"}}
			                </div>
			                <div class="col-md-4">
				                <button {{action 'acceptChanges' }} class="btn btn-primary"><i class="fa fa-floppy-o"></i></button>
				                <button {{action 'removeFeature' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
			                </div>
                        {{else}}
			                <div class="col-md-offset-1 col-md-6">
                                {{#if isPoint}}
					                <br>
					                <h5>Point</h5>
					                <p>Lat: {{lat}} Long: {{long}}</p>
                                {{else}}
					                <br>
					                <h5>Polygon</h5>

                                {{/if}}
			                </div>
			                <div class="col-md-4">
				                <button {{action 'editFeature' }} class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
				                <button {{action 'removeFeature' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
			                </div>
                        {{/if}}
	                </div>
                {{else}}
                    <div class="col-md-offset-1 col-md-offset-11">
	                    <h5>Polygon</h5>
                        {{#each coordinates itemController="coordinate"}}
		                    <div class="row">
                                {{#if isEditing}}
				                    <div class="col-md-1">
					                    <label for="latValueInput">Lat:</label>
				                    </div>
				                    <div class="col-md-2">
                                        {{input type="text" name="latValueInput" placeholder="latitude" value=lat class="form-control"}}
				                    </div>
				                    <div class="col-md-1">
					                    <label for="longValueInput">Long:</label>
				                    </div>
				                    <div class="col-md-2">
                                        {{input type="text" name="longValueInput" placeholder="longitude" value=long class="form-control"}}
				                    </div>
				                    <div class="col-md-4">
					                    <button {{action 'acceptChanges' }} class="btn btn-primary"><i class="fa fa-floppy-o"></i></button>
					                    <button {{action 'removeCoordinate' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
				                    </div>
                                {{else}}
				                    <div class="col-md-offset-1 col-md-6">
					                    <br>
					                    <h5>Point</h5>
					                    <p>Lat: {{lat}} Long: {{long}}</p>
				                    </div>
				                    <div class="col-md-4">
					                    <button {{action 'editCoordinate' }} class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
					                    <button {{action 'removeCoordinate' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
				                    </div>
                                {{/if}}
		                    </div>
                        {{/each}}
	                    <div class="row">
		                    <div class="col-md-3">
			                    <label for="classificationInput">Format:</label>
                                {{view "bootstrap-select"
                                name="formatInput"
                                content=formats
                                value=format
                                class="selectpicker" }}
		                    </div>
		                    <div class="col-md-7">
                                {{#if isUTM}}
				                    <div class="row">
					                    <label for="zoneValueInput">Zone:</label>
                                        {{input type="text" name="zoneValueInput" placeholder="zone" value=zone class="form-control"}}
				                    </div>
				                    <div class="row">
					                    <label for="eastValueInput">Easting:</label>
                                        {{input type="text" name="eastValueInput" placeholder="easting" value=easting class="form-control"}}
				                    </div>
				                    <div class="row">
					                    <label for="northValueInput">Northing:</label>
                                        {{input type="text" name="northValueInput" placeholder="northing" value=northing class="form-control"}}
				                    </div>
                                {{else}}
				                    <div class="row">
					                    <label for="latValueInput">Lat:</label>
                                        {{input type="text" name="latValueInput" placeholder="latitude" value=lat class="form-control"}}
				                    </div>
				                    <div class="row">
					                    <label for="longValueInput">Long:</label>
                                        {{input type="text" name="longValueInput" placeholder="longitude" value=long class="form-control"}}
				                    </div>
                                {{/if}}
		                    </div>
		                    <div class="col-md-2">
			                    <button {{action 'createCoordinate' }} class="btn btn-success"><i class="fa fa-plus"></i></button>
		                    </div>
	                    </div>
                    </div>
                {{/if}}
	            <br>
            {{/each}}

	        <div class="row">
                {{view "bootstrap-select"
                    name="formatInput"
                    content=featureTypes
                    value=featureType
                    class="selectpicker" }}
            </div>
            <br>
            <br>
            {{#if isPoint}}
                <div class="row">
		            <div class="col-md-3">
			            <label for="classificationInput">Format:</label>
                        {{view "bootstrap-select"
                            name="formatInput"
                            content=formats
                            value=format
                            class="selectpicker" }}
		            </div>
		            <div class="col-md-7">
                        {{#if isUTM}}
				            <div class="row">
					            <label for="zoneValueInput">Zone:</label>
                                {{input type="text" name="zoneValueInput" placeholder="zone" value=zone class="form-control"}}
				            </div>
				            <div class="row">
					            <label for="eastValueInput">Easting:</label>
                                {{input type="text" name="eastValueInput" placeholder="easting" value=easting class="form-control"}}
				            </div>
				            <div class="row">
					            <label for="northValueInput">Northing:</label>
                                {{input type="text" name="northValueInput" placeholder="northing" value=northing class="form-control"}}
				            </div>
                        {{else}}
				            <div class="row">
					            <label for="latValueInput">Lat:</label>
                                {{input type="text" name="latValueInput" placeholder="latitude" value=lat class="form-control"}}
				            </div>
				            <div class="row">
					            <label for="longValueInput">Long:</label>
                                {{input type="text" name="longValueInput" placeholder="longitude" value=long class="form-control"}}
				            </div>
                        {{/if}}
		            </div>
		            <div class="col-md-2">
			            <button {{action 'createFeature' }} class="btn btn-success"><i class="fa fa-plus"></i></button>
		            </div>
	            </div>
            {{else}}
	            <h5>Polygon:</h5>
	            <button {{action 'createFeature' }} class="btn btn-success"><i class="fa fa-plus"></i></button>

            {{/if}}
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <br>
        <br>

        <div class="form-group">
            <label for="descriptionInput">Description:</label>
            {{wysi-html5 name="descriptionInput"
            placeholder="description"
            value=description class="form-control"
            cols="80" rows="6"}}
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <div class="form-group">
            <label for="classificationInput">Classification:</label>
            {{view "bootstrap-select"
            name="classificationInput"
            content=classifications
            value=classification
            class="selectpicker" }}
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <div class="form-group">
            <label for="constructedInput">Dating:</label>
            {{input type="text"
            name="datingInput"
            placeholder="dating"
            value=dating
            class="form-control"}}
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <div class="form-group">
            <label for="materialsInput">Materials:</label>
            {{input type="text"
            name="materialsInput"
            placeholder="materials"
            value=materials
            class="form-control"}}
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <div class="form-group">
            <label for="conditionInput">Condition:</label>
            {{view "bootstrap-select"
            name="conditionInput"
            content=conditions
            value=condition
            class="selectpicker" }}
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <div class="form-group">
            <label for="designationInput">Designation:</label>
            {{input type="text"
            name="designationInput"
            placeholder="designation"
            value=designation
            class="form-control"}}
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <h3>Threats: </h3>
        {{#each threats itemController="threat"}}
            <div class="row">
                {{#if isEditing}}
	                <div class="col-md-offset-1 col-md-6">
		                <div class="form-group">
                            <label for="threatNameInput">Name:</label>
                            {{input type="text" name="threatNameInput" placeholder="name" value=name class="form-control"}}
                        </div>

                        <div class="form-group">
                            <label for="threatDateInput">Date:</label>
                            {{input type="text" name="threatDateInput" placeholder="date" value=date class="form-control"}}
                        </div>
                        <div class="form-group">
                            <label for="descriptionInput">Description:</label>
                            {{textarea name="threatDescriptionInput"
                            placeholder="description"
                            value=description class="form-control"
                            cols="80" rows="6"}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button {{action 'acceptChanges' }} class="btn btn-primary"><i class="fa fa-floppy-o"></i></button>
                        <button {{action 'removeThreat' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </div>
                {{else}}
                    <div class="col-md-offset-1 col-md-6">
                        <br>
                        <h5>{{name}}</h5>
                        <h5>Date: {{date}}</h5>
                        <p>{{description}}</p>
                    </div>
                    <div class="col-md-4">
                        <button {{action 'editThreat' }} class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                        <button {{action 'removeThreat' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </div>
                {{/if}}
            </div>
            <br>
        {{/each}}

        <div class="row">
	        <div class="col-md-offset-1 col-md-6">
		        <div class="form-group">
			        <label for="threatNameInput">Name:</label>
                    {{input type="text" name="threatNameInput" placeholder="name" value=newThreatName class="form-control"}}
		        </div>
		        <div class="form-group">
			        <label for="threatDateInput">Date:</label>
                    {{input type="text" name="threatDateInput" placeholder="date" value=newThreatDate class="form-control"}}
		        </div>
		        <div class="form-group">
			        <label for="descriptionInput">Description:</label>
                    {{textarea name="threatDescriptionInput"
                    placeholder="description"
                    value=newThreatDescription class="form-control"
                    cols="80" rows="6"}}
		        </div>
	        </div>
	        <div class="col-md-4">
		        <button {{action 'createThreat' }} class="btn btn-success"><i class="fa fa-plus"></i></button>
	        </div>
        </div>

    </div>
</div>

<div class="row">
	<div class="col-md-8">

        <div class="form-group">
            <label for="measurementsInput">Measurements:</label>
            {{input type="text"
            name="measurementsInput"
            placeholder="measurements"
            value=measurements
            class="form-control"}}
        </div>

	</div>
</div>

<div class="row">
	<div class="col-md-8">

        <h4>Resources:</h4>
        {{#each references itemController="reference"}}
	        <div class="row">
                {{#if isEditing}}
                    <div class="row">
	                    <div class="col-md-offset-1 col-md-6">
		                    <label for="referenceNameInput">Name:</label>
                            {{input type="text" name="referenceNameInput" placeholder="name" value=name class="form-control"}}
	                    </div>
	                    <div class="col-md-4">
		                    <button {{action 'acceptChanges' }} class="btn btn-primary"><i class="fa fa-floppy-o"></i></button>
		                    <button {{action 'removeReference' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
	                    </div>
                    </div>
                    <br>
	                <div class="row">
                        <div class="col-md-offset-1 col-md-9">
                            <label for="resourceHrefInput">Link:</label>
                            {{input type="text" name="resourceHrefInput" placeholder="href" value=href class="form-control"}}
                        </div>
                    </div>
                {{else}}
			        <div class="col-md-offset-1 col-md-6">
				        <br>
					    <a {{bind-attr href=href}}>{{name}}</a>
			        </div>
			        <div class="col-md-4">
				        <button {{action 'editReference' }} class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
				        <button {{action 'removeReference' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
			        </div>
                {{/if}}
	        </div>
	        <br>
        {{/each}}

        <div class="row">
            <div class="col-md-offset-1 col-md-6">
                <div class="form-group">
                    <label for="referenceNameInput">Name:</label>
                    {{input type="text" name="referenceNameInput" placeholder="name" value=newReferenceName class="form-control"}}
                </div>
                <div class="form-group">
                    <label for="referenceLinkInput">Link:</label>
                    {{input type="text" name="referenceDateInput" placeholder="link" value=newReferenceHref class="form-control"}}
                </div>
            </div>
            <div class="col-md-4">
                <button {{action 'createReference' }} class="btn btn-success"><i class="fa fa-plus"></i></button>
            </div>
        </div>

	</div>
</div>

<div class="row">
	<div class="col-md-8">

		<h4>Author:</h4>
        {{#link-to 'user.index' authorUser.id}}{{authorUser.fullname}}{{/link-to}}

	</div>
</div>

<div class="row">
	<div class="col-md-8">

        <h4>Created:</h4>
        <p>{{created}}</p>

	</div>
</div>

<div class="row">
	<div class="col-md-8">

        <h4>Updates:</h4>
        <ul>
            {{#each updates}}
                <li>
                    <h4>Author: {{author.firstname}} {{author.lastname}}</h4>
                    <h4>Date: {{date}}</h4>
                </li>
            {{else}}
                <li>No Updates</li>
            {{/each}}
        </ul>

	</div>
</div>

<div class="row">
    <div class="col-md-11">
	    <h4>Images:</h4>
        <br>
        <div class="row">
            {{#each images itemController="image"}}
                <div class="col-md-4">
                    {{#if src}}
                        <a {{bind-attr href=link}}>
                            <img style="max-height: 180px;" {{bind-attr src=link}} {{bind-attr alt=alt}}>
                        </a>
                    {{/if}}
                    <div class="caption">
                        <div class="form-group">
                            <label for="imageCaptionInput">Caption:</label>
                            {{textarea name="imageCaptionInput"
                                placeholder="caption"
                                value=caption class="form-control"
                                cols="80" rows="6"}}
                        </div>
                        <button {{action 'removeImage' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="col-md-1">
        <button {{action 'addImage' id}} class="btn btn-success"><i class="fa fa-plus"></i></button>
    </div>
</div>

<div class="row">
	<br>
    <div class="col-md-11">
	    <div class="row">
		    <h4>Documents:</h4>
            {{#each documents itemController="document"}}
                <div class="col-md-4">
	                <label for="referenceNameInput">Title:</label>
                    {{input type="text" name="titleInput" placeholder="title" value=title class="form-control"}}
                    <div class="form-group">
                        <label for="documentDescriptionInput">Description:</label>
                        {{textarea name="documentDescriptionInput"
                            placeholder="description"
                            value=description class="form-control"
                            cols="80" rows="6"}}
                    </div>
                    <button {{action 'removeDocument' }} class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </div>
            {{/each}}
	    </div>
    </div>
    <div class="col-md-1">
        <button {{action 'addDocument' id}} class="btn btn-success"><i class="fa fa-plus"></i></button>
    </div>
</div>