<div class="row">
    <div class="col-md-10">
	    <h4>Reference ID:</h4>
        <p>{{ref}}</p>
    </div>
    <div class="col-md-2">
        {{#if session.isAuthenticated}}
            {{#link-to 'resource.edit' id class="btn btn-default btn-lg"}}<i class="fa fa-pencil-square-o"></i>{{/link-to}}
        {{/if}}
    </div>
</div>

<div class="row">
	<div class="col-md-12">

        {{#if type}}
            <h4>Type:</h4>
            <p>{{type}}</p>
        {{/if}}

	    <h4>Name:</h4>
	    <p>{{name}}</p>

        <h4>Other Names:</h4>
	    <ul>
            {{#each other_names}}
                <li>{{this}}</li>
            {{else}}
                <li>None</li>
            {{/each}}
        </ul>

        {{#if location}}
            <h4>location:</h4>
            <ul>
                {{#if location.address}}
                    <li>
	                    <h5>Address:</h5>
                        {{{location.address}}}
                    </li>
                {{/if}}
                {{#if location.description}}
                    <li>
                        <h5>Description:</h5>
                        {{{location.description}}}
                    </li>
                {{/if}}
            </ul>
            {{#if location.geojson}}
                <div class="row">
                    {{view "map" contentBinding="location.geojson" }}
                </div>
            {{/if}}
        {{/if}}

        {{#if description}}
            <h4>Description:</h4>
            <p>{{{description}}}</p>
        {{/if}}

        {{#if classification}}
            <h4>Classification:</h4>
            <p>{{classification}}</p>
        {{/if}}

        {{#if dating}}
            <h4>Dating:</h4>
            <p>{{dating}}</p>
        {{/if}}

        {{#if materials}}
            <h4>Materials:</h4>
            <p>{{materials}}</p>
        {{/if}}

        {{#if condition}}
            <h4>Condition:</h4>
            <p>{{condition}}</p>
        {{/if}}

        {{#if designation}}
            <h4>Designation:</h4>
            <p>{{designation}}</p>
        {{/if}}


	    <h4>Threats:</h4>
        <ul>
            {{#each threats}}
                <li>
                    <h5>{{name}}</h5>
                    <h5>Date: {{date}}</h5>
                    <p>{{description}}</p>
                </li>
            {{else}}
                <li>No known threats</li>
            {{/each}}
	    </ul>

        {{#if measurements}}
            <h4>Measurements:</h4>
            <p>{{measurements}}</p>
        {{/if}}

	    <h4>Resources:</h4>
	    <ul>
            {{#each references}}
                <li>
                    <a {{bind-attr href=href}}>{{name}}</a>
                </li>
            {{else}}
                <li>No resources</li>
            {{/each}}
	    </ul>

        <h4>Author:</h4>
        {{#link-to 'user.index' authorUser.id}}{{authorUser.fullname}}{{/link-to}}

	    <h4>Created:</h4>
	    <p>{{created}}</p>

	    <h4>Updates:</h4>
	    <ul>
            {{#each updates}}
                <li>
                    <h5>Author: {{author.firstname}} {{author.lastname}}</h5>
                    <h5>Date: {{date}}</h5>
                </li>
            {{else}}
                <li>No Updates</li>
            {{/each}}
        </ul>

	    <h4>Images:</h4>
        <div class="row">
            {{#each images itemController="image"}}
                <div class="col-md-4">
                    <a  {{bind-attr href=link}}>
                        <img style="max-height: 180px;" {{bind-attr src=link}} {{bind-attr alt=alt}}>
                    </a>
                    {{#if caption}}
                        <div class="caption">
                            <p>{{caption}}</p>
                       </div>
                    {{/if}}
                </div>
            {{else}}
                <div class="col-md-4">
                    No images
                </div>
            {{/each}}
        </div>

	    <h4>Documents:</h4>
	    <ul>
            {{#each documents itemController="document"}}
                <li>
                    <a {{bind-attr href=link}}>{{title}}</a>
                    <p>{{description}}</p>
                </li>
            {{else}}
                <li>No documents</li>
            {{/each}}
		</ul>

    </div>
</div>